.footer {
	border-bottom: 8px solid $teal;
	padding: 1em 0;
	text-align: center;
}

.footer__text {
	color: $dark-grey;
	display: inline;
	font-family: "rooney-sans";
	font-size: .9em;
	vertical-align: bottom;
}

.footer-social-icon {
	padding-left: 10px;
}