.footer {
	border-bottom: 8px solid $blue;
	padding: 3em 0 1em;
	text-align: center;
}

.footer__text {
	color: $dark-grey;
	display: inline;
	font-family: "rooney-sans";
	font-size: .9em;
	vertical-align: bottom;
}

footer a {
	border: none;

	&:hover {
		border: none;
	}
}

.footer-social-icon {
	padding-left: 10px;
}

.footer-image {
	width: 20px;
}