.nav {
  @include outer-container(1000px);

  ul {
    display: inline-block;
    margin-bottom: 1em;
  }

  li {
    display: block;
    float: left;
    padding: 0;
  }

  a {
    display: block;
  }
}

.nav__items {
  float: right;
  padding-left: 0;
}

.nav-links, .logo {
  border-bottom: 4px solid white;
  color: $black;
  font-family: "rooney-sans";
  padding-bottom: 1px;
  line-height: 1;

  &:hover {
    border-bottom: 4px solid $pink;
  }
}

.nav-links {
  margin-left: 2em;
}

.active {
  border-bottom: 4px solid $teal;
  color: $black;
  font-family: "rooney-sans";
  margin-left: 2em;
  padding-bottom: 1px;
  line-height: 1;
  text-decoration: none;

  &:hover {
    border-bottom: 4px solid $pink;

  }
}

.nav__logo {
  float: left;
  padding-left: 0;
}