nav {
  background-color: $light-blue;
  border-bottom: 1px solid #eee;
  min-height: 75px;
  width: 100%;

  ul {
    display: inline-block;
    margin-bottom: 1em;
  }

  li {
    display: block;
    float: left;
    padding: 0;
  }

  a {
    display: block;
    line-height: 45px;
  }

  a:hover {
    color: $grey;
  }

  @media (max-width: 550px) {
    text-align: center;
  }
}

.nav-wrapper {
  width: 90%;
}

.logo--left {
  float: left;
  padding-left: 1em;
}

.nav--right {
  float: right;
  padding-left: 0;
}

.logo {
  text-align: center;
  text-transform: uppercase;
}

.nav-links {
  padding: 0 1em;
  text-align: center;
}