.nav .container {
  padding: 1em 1.5em 1em;

  @media (min-width: 575px) {
    padding: 1em 1.5em 2em;
  }
}

.nav {
  @include outer-container(1000px);
}

.nav ul {
  clear: both;
  float: left;
  margin-top: 0;

  @media (min-width: 575px) {
    display: inline-block;
    float: initial;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

.nav li {
  clear: both;
  display: block;
  float: left;
  margin-top: .5em;
  padding: 0;

  @media (min-width: 575px) {
    clear: none;
    margin-top: 0em;
  }
}

.nav a {
  display: block;
}

.nav__items {
  float: right;
  padding-left: 0;
}

.nav-links, .logo {
  border-bottom: 4px solid white;
  color: $black;
  font-family: "rooney-sans";
  padding-bottom: 1px;
  line-height: 1;

  &:hover {
    border-bottom: 4px solid $pink;
  }
}

.nav-links {

  @media (min-width: 575px) {
    margin-left: 2em;
  }
}

.active {
  border-bottom: 4px solid $teal;
  color: $black;
  font-family: "rooney-sans";
  padding-bottom: 1px;
  line-height: 1;
  text-decoration: none;

  @media (min-width: 575px) {
    margin-left: 2em;
  }

  &:hover {
    border-bottom: 4px solid $pink;

  }
}

.nav__logo {
  float: left;
  margin-bottom: 0;
  padding-left: 0;
}