.submit-button {
  border-radius: 5px;
  margin: .5em 0;
  padding: 15px 0;
  @include span-columns (9);
  @include shift(1.5);

  @media (min-width: $md-screen) {
   @include span-columns (4);
   @include shift(0);
  }
}

.nav-item {
  color: white;
  font-family: 'Open Sans Condensed';
}

.right {
  float: right;
}

.left {
  float: left;
}

.button--primary {
  border: 1px solid white;

  &:hover {
    background: rgba(0,122,225,0.2);
    transition: all 0.15s linear;
  }
}

.button--secondary {
  background-color: $light-blue;
  font-family: "Open Sans Condensed", serif;
  font-size: 1em;
  letter-spacing: 1px;

  @media (min-width: $md-screen) {
   @include span-columns (3);
   @include shift(0);
  }

  &:hover {
    background: rgba(0,122,225,0.4);
    transition: all 0.15s linear;
  }
}

.right {
  @media (min-width: $md-screen) {
    float: right;
  }
}

.left {
  @media (min-width: $md-screen) {
    float: left;
  }
}