.main-button {
  @include outer-container(500px);
}

.submit-button {
  border: 1px solid white;
  border-radius: 5px;
  color: $white;
  font-family: $open;
  font-weight: 300;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 5px;
  margin: .5em 0;
  padding: 15px 0;
  @include span-columns (9);
  @include shift(1.5);

  @media (min-width: $md-screen) {
   @include span-columns (4);
   @include shift(0); 
  }
  
    &:hover {
      background: rgba(10,20,200,0.1);
      transition: all 0.15s linear;
    }
}
