<footer class="footer">
	<p class="footer__text">© Eva PenzeyMoog 2018</p>
	<a href="https://medium.com/@evapenzeymoog" target="_blank"><img class=footer-social-icon src="/images/social-media-icons/medium-icon.svg"></a>
	<a href="https://twitter.com/epenzeymoog" target="_blank"><img class=footer-social-icon src="/images/social-media-icons/twitter-icon.svg"></a>
</footer>