<nav>

<div class="container">
  <ul class="logo--left">
    <li>
      <%= link_to "Eva", "/index.html", :class => 'logo clean-list' %>
    </li>
  </ul>


  <ul class="nav--right">
    <li>
      <%= link_to "Work", "/work.html", :class => 'nav-links clean-list' %>
    </li>
    <li>
      <%= link_to "Writing", "/writing.html", :class => 'nav-links clean-list' %>
    </li>
    <li>
      <%= link_to "Projects", "/projects.html", :class => 'nav-links clean-list' %>
    </li>
  </ul>
</div>
</nav>