<head>
<script src="https://use.typekit.net/yha5wrx.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<!-- <div class="nav-wrapper"> -->
  <div class="sky">
    <nav class="nav">
      <ul class="nav__logo">
        <li>
          <%= link_to "Home", "/index.html", :class => 'logo clean-list' %>
        </li>
      </ul>

      <ul class="nav__items">
        <li>
          <%= link_to "Work", "/work.html", :class => 'nav-links clean-list' %>
        </li>
        <li>
          <%= link_to "Writing", "/blog.html", :class => 'nav-links clean-list' %>
        </li>
        <li>
          <%= link_to "About", "/about.html", :class => 'nav-links clean-list' %>
        </li>
      </ul>
    </nav>
  </div>
<!-- </div> -->