<head>
<script src="https://use.typekit.net/yha5wrx.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>


<nav class="nav">
  <div class="container">
    <ul class="nav__logo">
      <li>
        <%= link_to "Home", "/index.html", :class => 'logo clean-list' %>
      </li>
    </ul>

    <ul class="nav__items" id="nav">
      <li>
        <%= link_to "Safety Consulting", "/safety-consulting.html", :class => 'nav-links clean-list' %>
      </li>
      <li>
        <%= link_to "Speaking & Workshops", "/speaking-and-workshops.html", :class => 'nav-links clean-list' %>
      </li>
      <li>
        <%= link_to "Writing", "/blog.html", :class => 'nav-links clean-list' %>
      </li>
    </ul>
  </div>
</nav>

<script>
function setActive() {
  aObj = document.getElementById('nav').getElementsByTagName('a');
  for(i=0;i<aObj.length;i++) {
    if(document.location.href.indexOf(aObj[i].href)>=0) {
      aObj[i].className='active';
    }
  }
}

window.onload = setActive;
</script>