---
title: work
layout: layout
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
  <%= partial "partials/nav" %>
</div>

<div class="container">
	<div class="module">
	<h2 class="module__header center">Elizabeth and Kitsune</h2>
	<p>Info here.</p>

	</div>

</div>


<%= partial "../partials/footer" %>