---
title: work
layout: layout
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
  <%= partial "partials/nav" %>
</div>

<div class="container">
	<div class="module">
	<h2 class="module__header center">Wanderlust</h2>
	<h3>Overview</h3>
	<p>Wanderlust is a site for booking hotels, flights, and cars, and was created to demonstrates my learning during my design apprenticeship. I had two weeks to complete a UX design process, create and iterate on a visual design, and write the responsive, modular code to bring it to life. Having way too much to do in amount of time given was a deliberate intention of the challenge, and while my final result isn't quite perfect, I've left it as is to demonstrate what I can get done under pressure. 
	</p>
	<h3>Phase 1: UX research</h3>
	<p>I broke my two weeks into four phases: UX research, visual design, implementation and delivery. Knowing that I'm strongest in UX and would need to spend more time on visual and code, I kept the UX research phase to three days and included user testing to both the visual and implementation phase, to make sure thing ended up as user friendly as I had planned.</p>
	<p>My quickened user research phase consisted of a survey and interviews of everyone in my network I could find who had utilized sites like Orbitz and Kayak, as well as competitive research of all the various sites that offer booking for hotels, flights, and cars (spoiler alert: there are way more than you think). I created a google survey, spending a fair amount of time editing to remove leading questions and make them as unbiased as possible. For this project I had to work comletely alone, but in real-life work I pull in other people to read through my questions and be as critical as possible. Once I was happy with my questions I sent the survey to my network, along with some emails asking friends and family to forward the email to their own networks. The result was 80 responses from people of various ages who had utilized travel search sites in different ways. I selected a cross section of repondents who had indicated willingness to be interviewed and set up times to call them. I used my standard approach for each of these interiews: first</p>
	<h3>Phase 2: Visual design</h3>
	<p>My research uncovered user dissatisfaction with the "messiness" of sites like Ortibz and Kayak. While all designs should be clean and organized, I decided to take this aesthetic to the max in order to demonstrate a clear difference between Wanderlust and the competition. 
	</p>

	<h3>Phase 3: Implementation</h3>

	<h3>Phase 4: Delivery</h3>

	</div>

</div>


<%= partial "../partials/footer" %>