body{
  background: $light-blue;
  font-size: 1em;
  text-align: center;
}

.clean-list {
  text-decoration: none;
}

.center-vertical {
  margin: auto 0;
  position: absolute;
  top: 10%;
  width: 100%;

  @media (min-width: $lg-screen) {
    height: 100px;
    left: 20px;
    margin-top: -200px;
    position: absolute;
    right: 20px;
    top: 50%;
  }
}

.title__main {
  display: inline;
  font-size: 2em;
  width: 100%;

  @media (min-width: $md-screen) {
    font-size: 6em; 
  }
}


