body{
  background: $light-blue;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

.clean-list {
  text-decoration: none;
}

.center-vertical {
  margin: auto 0;
  position: absolute;
  top: 10%;
  width: 100%;


  @media (min-width: $lg-screen) {
    height: 100px;
    left: 20px;
    margin-top: -200px;
    position: absolute;
    right: 20px;
    top: 50%;
  }
}

.title {
  font-family: $josefin;
}

.title__main {
  display: inline;
  font-size: 2em;
  width: 100%;

  @media (min-width: $md-screen) {
    font-size: 6em; 
  }
}

.title--bold {
  font-weight: 600;
}

.title--thin {
  font-weight: 100;
}



ol, ul, li, p,{
  color: black;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
}

p a{
  text-decoration: none;
  color: grey;
}

