body {
  border-top: 8px solid $blue;
}

.container {
  @include outer-container(1000px);
  padding: 20px 5px;

  @media (min-width: $sm-screen) {
    display: block;
    padding: 2.5em 1.5em;
  }
}

.nav .container {
  padding: 1em 1.5em 4em;
}

.pink {
  background-color: $background;
}

.module {
  @include outer-container(900px);
  padding: 0 20px;

  @media (min-width: $lg-screen) {
    padding: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.container--small {
  @include outer-container(500px);
}

.clean-list {
  text-decoration: none;
}

.title-container {
  @include span-columns(8);
  @include shift(2);
  color: white;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin-top: 15em;
  position: relative;
  text-align: center;
  z-index: 5;
}

.title, .header {
  color: $black;
  font-family: "rooney-sans", arial;
  line-height: 1;
  margin-top: 0; 
}

.title {
  font-size: 2.5em;
}

.header {
  font-size: 2em;
}

.subheader {
  font-size: 1.5em;
}

.about {
  padding-top: 0;
  vertical-align: top;
}

p {
  color: $black;
  font-family: "rooney-sans";
  font-size: 1.1em;
  margin: 0 auto 1em;
  line-height: 1.7em;
  letter-spacing: .7px;
}

a, .section a, .card__title a, .article-title a {
  border-bottom: 4px solid $teal;
  color: $blue;
  padding-bottom: 1px;
  text-decoration: none;

  &:hover {
    border-bottom: 4px solid $pink;
  }
}

.link-secondary > a:first-child {
  border-bottom: none;
  padding-bottom: 0;
  color: $black;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin-top--large {
  margin-top: 2em;
}

.margin-bottom--ex-large {
  margin-bottom: 4em;
}

.half {
  width: 100%;

  @media (min-width: 1000px) {
    display: inline-block;
    width: 46%;

    &:first-of-type {
      margin-right: 4em;
    }
  }
}

.two-thirds {
  width: 100%;

  @media (min-width: 800px) {
    display: inline-block;
    width: 66%;
  }
}

.one-third {
  width: 100%;

  @media (min-width: 800px) {
    display: inline-block;
    width: 33%;
  }
}

.headshot {
  max-width: 330px;
  width: 100%;

  @media (min-width: 800px) {
    margin-left: 60px;
  }
}

.speaker-pic {
  max-width: 400px;

  @media (min-width: 1000px) {
    float: right;
    max-width: 500px;
  }
}

.training-pic {
  max-width: 400px;

  @media (min-width: 1000px) {
    max-width: 800px;
  }
}

.gist {
  display: block;
  width: 100%;
}

.gist .gist-meta {
  display: none;
}

.clear {
  clear: both;
}

.social-media p {
  display: inline-block;
}

.divider p {
  color: $green;
  cursor: default;
  font-size: 1.3em;
  padding: 0 .5em;
}

.top-align {
  vertical-align: top;
}