.article-container {
  padding-left: 16px;
  text-align: left;
  max-width: 1200px;

  @include span-columns(10);
  @include shift(1);
  padding: 2em 0;

  @media (min-width: $lg-screen) {
    @include span-columns(8);
    @include shift(2);
    padding: 2em 1em;
  }

  & a:hover {
  	color: $grey-blue;
    border-bottom: 1px solid $grey-blue;
  }

  p {
  	font-family: 'Quicksand', sans-serif;
  }
}

.article-container__link { 
  padding-right: 25px;
  text-align: right;
}

.article-container img {
  border: 1px solid red;
  width: 70%;
  height: auto;
  margin-top: 1em;
  @media (min-width: $lg-screen) {
    width: 50%;
    border: 1px solid green;
  }
}