.article-container {
  padding-left: 16px;
  text-align: left;
  max-width: 1200px;

  @include span-columns(8);
  // @include shift(2);

  &, a:hover {
  	color: $white;
  }

  p {
  	font-family: 'Quicksand', sans-serif;
  }
}

.article-container__link { 
  padding-right: 25px;
  text-align: right;
}

