h1{
  color: $white;
}

.grey {
  color: $grey;
}

.submit-button {
  color: $white;
  font-weight: 300;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 5px;
}

a {
  color: grey;
  font-weight: 300;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  &:hover {
      transition: all 0.15s linear;
    }
}

//blog typography
.article-container h4 {
  color: $light-grey;
  font-weight: 400;
  margin: 0;
}

.article-container h3 a {
  color: $light-grey;
  font-weight: 400;
}

.article-container__link a {
  color: $light-grey;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 0;
}

.title h2 {
  color: $white;
  font-size: 4.5em;
  font-weight: 300;
}

ol, ul, li, p,{
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 25px;
}

p a {
  text-decoration: none;
}

//about page typography
.module__text {
  color: $dark-grey;
  font-family: "jubilat";
  font-size: 1.375em;
  line-height: 46px;
}

.module__text--emphasized {
  font-weight: 400;
}

.module__header {
  color: $dark-grey;
  font-family: "jubilat";
  font-size: 3em;
  font-weight: 600;
  line-height: 46px;
}

.emphasized {
  font-family: "jubilat";
  font-size: 1.375em;
  font-weight: 400;
  line-height: 46px;
}