.submit-button {
  color: $blue;
  font-weight: 300;
  font-size: 1.1em;
  font-weight: 300;
}

//blog typography
.article-container h4 {
  color: $black;
  font-weight: 400;
  margin: 0;
}

.article-container h3 a {
  color: $blue;
  font-weight: 400;
}

.article-container__link a {
  color: $blue;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 0;
}

.title h2 {
  color: $black;
  font-size: 4.5em;
  font-weight: 300;
}

ol, ul, li, p,{
  font-weight: 300;
  line-height: 25px;
}

p a {
  text-decoration: none;
}

//about page typography
.module__text {
  color: $black;
  font-family: "jubilat";
  font-size: 1.375em;
  line-height: 46px;
  margin: 2em 0;

  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: #007AFF;
    }
  }
}

.module__text--emphasized {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.module__header {
  color: $dark-grey;
  font-family: "rooney-sans";
  font-size: 3em;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 1em;
}

.emphasized {
  font-family: "rooney-sans";
  font-size: 1.375em;
  font-weight: 400;
  line-height: 46px;
}