h1{
  color: $white;
}

h2, h3, h3 a{
  color: grey;
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  &:hover {
      transition: all 0.15s linear;
    }
}