//Font weights

//Font Color
$white: #F7F7FF;
$grey: #424651;

//Typography
$josefin: 'Josefin Slab', serif;
$open: 'Open Sans Condensed';

//Letter spacing
$body-spacing: .25px;
$bold-spacing: 1.2px;
$small-spacing: 2px;
$medium-spacing: 3.45px;
$large-spacing: 5.2px;

//Buttons

//Mobile breakpoints
$sm-screen: '375px';
$md-screen: '520px';
$lg-screen: '900px';