//Colors
$bright-blue: #007AFF;
$blue: #2660A4;
$light-blue: #ECF6FA;
$light-pink: #F9EBF3;
$light-green: #EEFCFA;
$teal: #62B6CB;
$background: #FBE7E6;
$border: #F2B5D4;

//Font Color
$black: #3D4B53;
$white: #F7F7FF;
$light-grey: #67686b;
$hairline: #eee;
$dark-grey: #353535;

//Typography


//Mobile breakpoints
$sm-screen: '375px';
$md-screen: '520px';
$lg-screen: '900px';

//Mixins
@mixin hover {
	line-height: 2;

	a:hover {
		border-bottom: 1px solid $blue;
  	color: $blue;
		padding-bottom: 2px;

  	@media (min-width: 550px) {
   		line-height: 0;
  	}
	}
}