//Colors
$blue: #007AFF;
$light-blue: #C1D7EF;

//Font Color
$white: #F7F7FF;
$grey: #424651;
$light-grey: #67686b;

//Typography
$josefin: 'Josefin Slab', serif;
$open: 'Open Sans Condensed', serif;
$quicksand: 'Quicksand', sans-serif;

//Mobile breakpoints
$sm-screen: '375px';
$md-screen: '520px';
$lg-screen: '900px';