---
title: projects
layout: projects
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700|Open+Sans+Condensed:300,300i,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
	<%= partial "partials/nav" %>
</div>

<div class="container">

	<div class="module">
		<h2 class="module__header">Hello!</h2>

		<p class="module__text">I’m a designer at 8th Light, a consultancy that creates software of the highest quality. I run the gamut of the design process, from initial user research to visual design to implementation.</p>
		<p class="module__text module__text--emphasized">People's time and energy are limited, and I design experiences that honor people by not wasting their personal resources.</p>
		<p class="module__text">I love writing the code that brings my creations to life, and am a firm believer in ending the divide between design and development.</p>

		<p class="module__text"><span class="module__text--emphasized">I subscribe to Mike Monteiro’s notion of designers as gatekeepers who are responsible for the work we put into the world.</span> Noticing that developers are often put into the position of de facto designers, I created a talk called UX for Developers that teaches UX and visual fundamentals, including accessibility standards. I give this talk at development-focused MeetUps.</p>
		<p class="module__text">I also present on domestic violence with an interactive, workshop-like presentation. This talk is called Understanding Domestic Violence and focuses on recognizing the signs and supporting survivors. Please <a href="mailto:penzeymoog@gmail.com?Subject=Speaking" target="_top">email me</a> if you’d like me to do either of these talks for your employees, at your MeetUp, etc.</p>

		<p class="module__text">When I’m not presenting, reading design books or making TIE fighters zoom around with CSS animation, you can find me teaching my dogs Hamlet and Horatio new tricks, creating cyanotype prints, and visiting Wisconsin to stock up on cheese.</p>

	</div>

</div>