---
title: about
layout: layout
---

<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
	<%= partial "partials/nav" %>
</div>


<h2 class="module__header center"><i>Design for Safety</i> - the book!</h2>

<section class="section">
  <div class="container">
  	<p>Before joining the tech field in 2016, I was a volunteer rape crisis counselor and domestic violence educator. As I grew as a designer and technologist, I started to see how technology itself is often enabling domestic abuse and other interpersonal harm. It seemed to me like recognizing this reality and applying thoughtful design practices could make a big difference.</p>
  	<p>I created a conference talk about the topic, which led to my book, <i>Design for Safety</i>. In it, you'll find a multitude of examples of how technology-facilitated domestic violence happens, and a specific strategy for how we as designers can push back and prevent the harm or mitigate its impact.</p>
    <p><a href="https://abookapart.com/products/design-for-safety/" target="_blank">Buy <i>Design for Safety</i> here</a>.</p>
  </div>
</section>

<div class="center">
	<img class="image--large" src="../images/design-for-safety-book.jpg">
</div>

<div class="center">
	<img class="img border margin-top--large" src="../images/molly-book-tweet.png">
</div>

<%= partial "partials/footer" %>
