---
title: projects
layout: projects
---
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
	<%= partial "partials/nav" %>
</div>

<div class="container">

	<div class="module">
		<h2 class="module__header">Hello!</h2>

		<p class="module__text">I’m a designer at 8th Light, where I help create software of the highest quality. I design experiences that are human-centered and write code that is flexible and scalable.</p>

		<p class="module__text">I love UX and speak at developer-focused events to teach the people who often find themselves making design decisions the basics of putting users first. Outside of teaching about design, I've spent the last few years creating an interactive workshop about domestic violence. Get in touch with me at penzeymoog at gmail dot com to learn more about my talks.</p>

		<p class="module__text">When not presenting, reading design books or making TIE fighters zoom around with CSS animation, my free time involves creating art with the color blue, consuming all media involving zombies, and hanging out with my pups, Horatio (below) and Hamlet (coming soon).</p>

	</div>
	<div class="color-wrapper">
		<div class="horatio"></div>
	</div>
<%= partial "partials/footer" %>
</div>