---
title: Eva PenzeyMoog
layout: layout
---

<h1 id=first-name>Eva </h1><h1 id=last-name> PenzeyMoog</h1>
<h2>UX DESIGNER</h2>
  
<section class="experience-buttons">
  <p class="doc">
    <%= link_to "work", "/work.html" %>
  </p>
  
  <p class="doc">
    <%= link_to "writing", "/blog.html"%>
  </p>
  
   <p class="doc">
    <%= link_to "projects", "/projects.html" %>
  </p>
</section>
