---
layout: layout
title: Eva PenzeyMoog
---

<%= stylesheet_link_tag :site %>
<div class="home">
	<div class="sun-container">
		<div class="sun"></div>
	</div>
	<div class="cloud"></div>
	<div class="tie-fighters"></div>

<div class="home">
	<%= partial "partials/nav" %>
</div>

	  <div class="title-container">
	  	<h1 class="title">Eva PenzeyMoog</h1>
	    <p class="subtitle">I'm a UX Designer who creates software that's intuitive and fun at <a href="http://www.8thlight.com" target="_blank">8th Light</a>. When not designing, I'm exploring Chicago by bike, volunteering for feminist causes, and trying to meet every dog I see.</p>
	  </div>
</div>

<%= partial "partials/footer" %>