---
layout: layout
title: Eva PenzeyMoog
---

<%= stylesheet_link_tag :site %>
<div class="home">

	<%= partial "partials/nav" %>
	<section class="container section about">
	  <div class="two-thirds about">
	  	<h1 class="title">Eva PenzeyMoog, Lead Designer</h1>
	    	<p>I do UX and front-end development at <a href="http://www.8thlight.com" target="_blank">8th Light</a>, where I work with a variety of companies to take their products through the full design process, from discovery to code.</p>
	    	<p> Over all else, I aim to create products that are useful, safe, and honor people’s limited resources (especially the resource of time).</p>
	    	<p>My design philosophy is to approach each step of the process and new challenge with a mixture of design experience and authentic research. I take research seriously, I design for all groups regardless of ability, and I don’t believe in edge cases.</p>
	  </div>
	  <div class="one-third">
	  	<img class="headshot" src="../images/evapenzeymoog.png">
	  </div>
	</section>

	<section class="section pink">
		<div class="container">
			<h3 class="header">Designing Against Domestic Violence</h3>
			<p>I work to ensure that digital products cannot be be used as tools of abuse, and share my findings with other people who create digital products. This work involves research of how technology both enables abuse and fails to recognize user behavior that indicates abuse, resulting in a lost opportunity to offer meaningful support. I'm intentional about providing clear, true (and always anonymous) examples, and aim to provide a concrete set of steps that  people who work in tech can take to build products that won't result in harm against their users.</p>
			<p>My talk, Designing Against Domestic Violence, is the culmination of this research and the first step of a larger project to reduce harm in the world through centering the safety of victims of domestic violence. I call this work "designing for inclusive safety." If you want to support me in this work, please visit my <a href="https://www.patreon.com/epenzeymoog">Patreon page.</a></p>
			<p class="link-secondary">I'm currently taking inquiries for 2019. If you're interested in this talk appearing at your conference, workplace, or other setting, please <a href="mailto:penzeymoog@gmail.com">reach out</a>.</p>
			<p class="bold margin-top--large">Upcoming talks:</p>
			<p><ul>
				<li><p><a href="https://angulardenver.com/" target="_blank">Angular Denver</a> - Denver, CO, August 1 - 2</p></li>
				<li><p><a href="http://www.writespeakcode.com/#conference" target="_blank">Write/Speak/Code</a> - San Francisco, CA, August 16 - 18</p></li>
				<li><p><a href="https://2019.annarbor.wordcamp.org/tickets/" target="_blank">WordCamp Ann Arbor</a> - Ann Arbor, MI, August 24 - 25</p></li>
				<li><p><a href="https://www.thestrangeloop.com/index.html" target="_blank">Strange Loop</a> - St. Louis, September 12 - 14</p></li>
				<li><p><a href="https://devfestwi.com/" target="_blank">DevFest WI</a> - Madison, WI, September 28</p></li>
				<li><p><a href="https://2019.midwestuxconference.com/" target="_blank">Midwest UX</a> - Grand Rapids, MI, October 10 - 12</p></li>
				<li><p><a href="https://world.phparch.com/" target="_blank">PHP[WORLD]</a> - Washingon, DC, October 23-24</p></li>
			</ul></p>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="header">Teaching & Mentoring</h3>
			<p>I worked in education non-profit before making a change to the tech world. I love teaching and mentoring other career changers and helping them find their way into the fields of design and development. I teach on and off through General Assembly and do frequent informal instruction and mentoring.</p>
			<p class="link-secondary">If you’re from a group that is underrepresented in tech and need some guidance, <a href="mailto:penzeymoog@gmail.com">reach out</a> and I will try to help. Wondering if doing a coding or design bootcamp is worth it? Read my advice <a href="https://medium.com/@evapenzeymoog/untitled-advice-for-people-interested-in-a-coding-design-bootcamp-80d2d6605b4b" target="_blank">here</a>.</p>
			<p class="bold margin-top--large">Articles about my transition into tech:</p>
			<ul>
				<li><p><a href="https://skillcrush.com/2018/03/14/quit-nonprofit-to-work-in-tech/" target="_blank">Why I Left My Job at a Nonprofit to Change the World Through Tech</a></p></li>
				<li><p><a href="https://www.themuse.com/advice/this-is-how-went-from-teacher-ux-designer" target="_blank">This Is How I Went From Being a Teacher to a UX Designer</a></p></li>
			</ul>
		</div>
	</section>

	<section class="section pink">
		<div class="container">
			<h3 class="header">Elsewhere in the World</h3>
			<p>I spend my non-design time consuming any zombie-related media I can get my hands on, creating cyanotype prints, and hanging out with my dogs, Hamlet and Horatio.</p>
			<p>Cyanotypes are one-of-a-kind blue prints that result from a historical process that blends photography and printmaking. My prints feature botanicals and fabrics from meaningful spaces. I sell the best ones on <a href="https://www.etsy.com/shop/EvaPenzeyMoog" target="_blank">Etsy</a>.</p>
			<p>I write about technology, design, justice, mental health, minimalism and more on <a href="https://medium.com/@evapenzeymoog" target="_blank">Medium</a>.</p>
			<div class="social-media">
				<p><a href="https://twitter.com/epenzeymoog" target="_blank">twitter</a></p>
				<span class="divider"><p>//</p></span>
				<p><a href="https://www.instagram.com/epenzeymoog/" target="_blank">instagram</a></p>
				<span class="divider"><p>//</p></span> 
				<p><a href="https://www.instagram.com/hamletandhoratio/" target="_blank">cute pictures of Hamlet and Horatio</a>.</p>
			</div>
		</div>
	</section>
</div>

<%= partial "partials/footer" %>