---
layout: layout
title: Eva PenzeyMoog
---

<section class="background-secondary">
	<header class="title center-vertical">
		<h1 class="title__main title--bold"> Eva </h1>
		<h1 class="title__main title--thin"> PenzeyMoog</h1>
		<h2>UX DESIGNER</h2>

	  <section class="container--small">
	    <%= link_to "work", "/work.html", :class => 'submit-button button--primary' %>
	  
	    <%= link_to "writing", "/blog.html", :class => 'submit-button button--primary' %>

	    <%= link_to "projects", "/projects.html", :class => 'submit-button button--primary' %>
	  </section>
	</header>
</section>