---
layout: layout
title: Eva PenzeyMoog
---

<%= stylesheet_link_tag :site %>
<div class="home">

	<%= partial "partials/nav" %>
	<section class="container section about">
	  <div class="two-thirds about">
			<h1 class="title">Eva PenzeyMoog</h1>
			<p>I'm the founder of <a href="https://www.inclusivesafety.com/">The Inclusive Safety Project</a> and author of <i>Design for Safety</i>, launching August 23rd from publisher A Book Apart. I'm a principal designer at <a href="http://www.8thlight.com" target="_blank">8th Light</a>, where I design and build custom software and consult on safe and inclusive design strategy.</p>
			<p>My work focuses on making tech safer by prioritizing the most vulnerable. Tech is weaponized for interpersonal harm, including domestic violence, elder abuse, and invasive surveillane of children. Designers and other technologists don't have to be complicit in this weaponization; we can prevent it and give power back to survivors through intentional design strategy.</p>
			<p>Dozens of examples of how tech is misused for violence, solutions for prevention, and details about incorporating a practice of designing for safety are covered in <i>Design for Safety</i>. In the meantime, check out <a href="https://www.inclusivesafety.com/">The Inclusive Safety Project</a> for resources and recordings of my conference talk on the subject.
			</p>
			<p>If you want to support me in this work, please visit my <a href="https://www.patreon.com/epenzeymoog">Patreon page.</a></p>
	  </div>
	  <div class="one-third">
	  	<img class="headshot" src="../images/eva-pm.png">
	  </div>
	</section>

	<section class="section pink">
		<div class="container">
			<h3 class="header">Upcoming Talks</h3>
			<p><ul>
				<p>I'm debuting a new talk titled <i>Justice, Safety, Compassion: Shifting the Ethical Tech Paradigm</i> this summer!</p>
				<p>Leadership By Design from UX Camp, August 12th & 13th, 2021 <a href="https://chicagocamps.org/events/2021/leadership-by-design/" target="_blank">Get tickets here.</a></p>
			</ul></p>
			<p>I'm currently taking inquiries for remote and in-person talks and workshops. If you're interested in me presenting remotely at your conference or workplace, please see my
				<a href="../speaking-and-workshops">Speaking page</a>.
			</p>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="header">Recent Press Highlights</h3>
			<ul>
				<li><p><a href="https://anchor.fm/ux-edtech/episodes/Mission-Driven-Work-at-Every-Career-Stage-eg97l9" target="_blank">Mission-Driven Work at Every Career Stage - Interview on UX of EdTech podcast</a></p></li>
				<li><p><a href="https://pasionmixta.com/index.php/2020/04/08/ux-contra-la-violencia-de-genero/" target="_blank">UX Contra La Violencia De Género</a></p></li>
				<li><p><a href="https://www.thisishcd.com/episodes/bringing-design-closer/eva-penzeymoog-designing-against-domestic-violence/" target="_blank">Designing Against Domestic Violence - Interivew on Bringing Design Closer podcast</a></p></li>
				<li><p><a href="https://www.cfpland.com/blog/speakers-eva-penzeymoog/" target="_blank">CFPLand Speaker’s Story: Eva PenzeyMoog, Designer Helping Stamp Out Domestic Abuse</a></p></li>
			</ul>
		</div>
	</section>


	<section class="section pink">
		<div class="container">
			<h3 class="header">Teaching & Mentoring</h3>
			<p>I worked in education non-profit before making a change to the tech world. I love teaching and mentoring other career changers and helping them find their way into the fields of design and development. I teach on and off through General Assembly and do frequent informal instruction and mentoring.</p>
			<p class="link-secondary">I'm currently taking a break from my normal offer to do half hour calls with people new to design. I hope to be able to start these up again soon; please check back in a few months.</p>
			<p>Wondering if doing a coding or design bootcamp is worth it? Read my advice <a href="https://medium.com/@evapenzeymoog/untitled-advice-for-people-interested-in-a-coding-design-bootcamp-80d2d6605b4b" target="_blank">here</a>.</p>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="header">Elsewhere in the World</h3>
			<p>I spend my non-design time consuming any zombie-related media I can get my hands on, tending to my plants, and hanging out with my dog Hamlet.</p>
			<p>Sometimes I write about things on <a href="https://medium.com/@evapenzeymoog" target="_blank">Medium</a>.</p>
			<div class="social-media">
				<p><a href="https://twitter.com/epenzeymoog" target="_blank">twitter</a></p>
				<span class="divider"><p>//</p></span>
				<p><a href="https://www.patreon.com/epenzeymoog" target="_blank">patreon</a></p>
				<span class="divider"><p>//</p></span>
				<p><a href="https://www.linkedin.com/in/evapenzeymoog/" target="_blank">linkedin</a></p>
				<span class="divider"><p>//</p></span> 
				<p><a href="https://www.instagram.com/hamletandhoratio/" target="_blank">cute pics of Hamlet and his dearly departed brother Horatio</a>.</p>
			</div>
		</div>
	</section>
</div>

<%= partial "partials/footer" %>