---
layout: layout
title: Eva PenzeyMoog
---

<%= stylesheet_link_tag :site %>
<div class="home">

	<%= partial "partials/nav" %>
	<section class="container section about">
	  <div class="two-thirds about">
			<h1 class="title">Eva PenzeyMoog</h1>
			<p>I'm a principle designer at <a href="http://www.8thlight.com" target="_blank">8th Light</a>, where I design and build custom software and consult on safe and inclusive design strategy.</p>
			<p>I work to ensure that digital products cannot be used as tools for abuse, with the goal of reducing harm in the world through centering the safety of victims of domestic violence.</p>
			<p>My design philosophy is to approach each step of the process and new challenge with a mixture of design experience and authentic research. I take research seriously, I design for all groups regardless of ability, and I don’t believe in edge cases.</p>
	  </div>
	  <div class="one-third">
	  	<img class="headshot" src="../images/evapenzeymoog.png">
	  </div>
	</section>

	<section class="section pink">
		<div class="container">
			<h3 class="header">Designing Against Domestic Violence</h3>
			<p>I work to ensure that digital products cannot be be used as tools of abuse, and share my findings with other people who create digital products. This work involves research of how technology both enables abuse and fails to recognize user behavior that indicates abuse, resulting in a lost opportunity to offer meaningful support. I'm intentional about providing clear, true (and always anonymous) examples, and aim to provide a concrete set of steps that  people who work in tech can take to build products that won't result in harm against their users.</p>
			<p>My talk, Designing Against Domestic Violence, is the culmination of this research and the first step of a larger project to reduce harm in the world through centering the safety of victims of domestic violence. I call this work "designing for inclusive safety." If you want to support me in this work, please visit my <a href="https://www.patreon.com/epenzeymoog">Patreon page.</a></p>
			<p class="link-secondary">I'm currently taking inquiries for 2020. If you're interested in this talk appearing at your conference, workplace, or other setting, please <a href="mailto:penzeymoog@gmail.com">reach out</a>.</p>
			<p class="bold margin-top--large">Upcoming talks:</p>
			<p><ul>
				<li><p><a href="https://2020.boosterconf.no/" target="_blank">Booster Conf</a> - Bergen, Norway, March 18 - 20, 2020</p></li>
				<li><p><a href="https://uxcopenhagen.com/" target="_blank">UX Copenhagen</a> - Copenhagen, Denmark, March 30 - 31, 2020</p></li>
				<li><p><a href="https://think-about.io/" target="_blank">Think About!</a> - Cologne, Germany, June 4 - 5, 2020</p></li>
				<li><p><a href="https://2020.uxscotland.net/" target="_blank">UX Scotland</a> - Edinburgh, Scotland, June 10 - 12, 2020</p></li>
				<p class=margin-top--large>My slides (from 8th Light University) are available <a href="https://drive.google.com/file/d/1i63EVMYzGKT1jmmd2ItJuA-_Y1bJUhCh/view?usp=sharing" target="_blank">here.</a></p>
			</ul></p>

			<p>I have a lot of thoughts about the role of individual designers and developers in fixing unethical tech versus the need for regulation. I'm very interested in working on the issues of technology-facilitated domestic violence from a policy level. Read my piece, <a href="https://modus.medium.com/you-cant-fix-unethical-design-by-yourself-c4ce4b6520a">You Can't Solve Unethical Tech By Yourself</a>, to learn more.

		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="header">Recent Press Highlights</h3>
			<ul>
				<li><p><a href="https://www.thisishcd.com/episodes/bringing-design-closer/eva-penzeymoog-designing-against-domestic-violence/" target="_blank">Designing Against Domestic Violence - Interivew on Bringing Design Closer podcast</a></p></li>
				<li><p><a href="https://www.cfpland.com/blog/speakers-eva-penzeymoog/" target="_blank">CFPLand Speaker’s Story: Eva PenzeyMoog, Designer Helping Stamp Out Domestic Abuse</a></p></li>
			</ul>
		</div>
	</section>


	<section class="section pink">
		<div class="container">
			<h3 class="header">Teaching & Mentoring</h3>
			<p>I worked in education non-profit before making a change to the tech world. I love teaching and mentoring other career changers and helping them find their way into the fields of design and development. I teach on and off through General Assembly and do frequent informal instruction and mentoring.</p>
			<p class="link-secondary">I'm currently taking a break from my normal offer to do half hour calls with people new to design. I hope to be able to start these up again soon; please check back in a few months.</p>
			<p>Wondering if doing a coding or design bootcamp is worth it? Read my advice <a href="https://medium.com/@evapenzeymoog/untitled-advice-for-people-interested-in-a-coding-design-bootcamp-80d2d6605b4b" target="_blank">here</a>.</p>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h3 class="header">Elsewhere in the World</h3>
			<p>I spend my non-design time consuming any zombie-related media I can get my hands on, creating cyanotype prints, and hanging out with my dogs, Hamlet and Horatio.</p>
			<p>Cyanotypes are one-of-a-kind blue prints that result from a historical process that blends photography and printmaking. My prints feature botanicals and fabrics from meaningful spaces. I sell the best ones on <a href="https://www.etsy.com/shop/EvaPenzeyMoog" target="_blank">Etsy</a>.</p>
			<p>I write about technology, design, justice, minimalism and more on <a href="https://medium.com/@evapenzeymoog" target="_blank">Medium</a>.</p>
			<div class="social-media">
				<p><a href="https://twitter.com/epenzeymoog" target="_blank">twitter</a></p>
				<span class="divider"><p>//</p></span>
				<p><a href="https://www.patreon.com/epenzeymoog" target="_blank">patreon</a></p>
				<span class="divider"><p>//</p></span>
				<p><a href="https://dribbble.com/epenzeymoog" target="_blank">dribbble</a></p>
				<span class="divider"><p>//</p></span> 
				<p><a href="https://www.linkedin.com/in/evapenzeymoog/" target="_blank">linkedin</a></p>
				<span class="divider"><p>//</p></span> 
				<p><a href="https://www.instagram.com/hamletandhoratio/" target="_blank">cute pictures of Hamlet and Horatio</a>.</p>
			</div>
		</div>
	</section>
</div>

<%= partial "partials/footer" %>