---
title: projects
layout: projects
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700|Open+Sans+Condensed:300,300i,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<%= stylesheet_link_tag :site %>
<%= partial "partials/nav" %>

<div class="container">

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/travel/" target="_blank"><img src="/images/projects/wanderlust.png"></a>
    </div>
    <div class="card-section">
     
      <div class="card-section__content">
        
        <h3 class="card__title"> <a href="https://epenzeymoog.github.io/travel/" target="_blank">Wanderlust</a></h3>
        <p class="card-section__description">A mock travel website showing my skills in design & implementation.</p>
        <p>Role:</p>
        <p>UX Design</p>
        <p>Visual design</p>
        <p>Front-end development</p>       
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/chisc/" target="_blank"><img src="/images/projects/chisc.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"> <a href="https://epenzeymoog.github.io/chisc/" target="_blank">Chicago Software Craftsmanship</h3>
        <p class="card-section__description">Taking a group for software enthusiasts from a simple MeetUp group to its own independent website.</p>
        <p>This project is still in progress.</p>
        <p>Role:</p>
        <p>UX Design</p>
        <p>Visual design</p>
        <p>Front-end development</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/trading-card/" target="_blank"><img src="/images/projects/card.jpg"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="https://epenzeymoog.github.io/trading-card/" target="_blank">Employee Trading Card Project</a></h3>
        <p class="card-section__description">Celebrating the people of 8th Light with custom employee trading cards.</p>
        <p>Role:</p>
        <p>Print design</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/form/" target="_blank"><img src="/images/projects/forms.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="https://epenzeymoog.github.io/form/" target="_blank">Semantic HTML & Forms</a></h3>
        <p class="card-section__description">Project that displays understanding of semantic HTML and form elements.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/animations/" target="_blank"><img src="/images/projects/animation.png"></a>
      <p>Mini project about animations</p>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="https://epenzeymoog.github.io/animations/" target="_blank">Animations</a></h3>
        <p class="card-section__description">Mini project about animations</p>
      </div>
    </div>
  </div>


</div>