---
title: safety consulting
layout: layout
---

<%= stylesheet_link_tag :site %>

<div class="home">
    <%= partial "partials/nav" %>

  <h2 class="module__header center">Safety Consulting</h2>

  <section class="section">
    <div class="container">
      <h3 class="header">In-house Consulting</h3>
      <p>I'm a principal designer at 8th Light, a custom software consultancy, where I'm leading the industry in original research into technology-facilitated violence, focusing on how digital products are subverted by abusers for enact inter-personal abuse. Through 8th Light, you can hire me to help your team learn and practice designing for safety.</p>
      <p>To learn more, please send me an email at eva at 8thlight dot com.</p>

      <img class="training-pic" src="../images/training.jpg">

    </div>
  </section>

</div>
<%= partial "partials/footer" %>

