---
title: work
layout: projects
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
  <%= partial "partials/nav" %>
</div>

<div class="container">
<div class="module">

<h2 class="module__header center">Work Samples</h2>
<div class="card">
  <a href="http://www.elizabeth-restaurant.com/" target="_blank">
    <div class="card__photo">
      <img src="/images/work/kitsune-project.svg">
    </div>
    <h3 class="card__title"><a href="http://www.elizabeth-restaurant.com.com/" target="_blank">Elizabeth &amp; Kitsune Restaurants</a></h3>
  </a>
</div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/travel/" target="_blank"><img src="/images/work/wanderlust-project.svg"></a>
    </div>
      <h3 class="card__title"> <a href="https://wanderlust-travel.herokuapp.com/" target="_blank">Wanderlust</a></h3>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/chisc/" target="_blank"><img src="/images/work/chicago-icon-project.svg"></a>
    </div>
      <h3 class="card__title"> <a href="#" target="_blank">Icons (coming soon)</a></h3>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/trading-card/" target="_blank"><img src="/images/work/card-project.svg"></a>
    </div>
      <h3 class="card__title"><a href="https://epenzeymoog.github.io/trading-card/" target="_blank">Employee Trading Card Project</a></h3>
  </div>

  </div>
</div>
<%= partial "partials/footer" %>

