---
title: work
layout: projects
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700|Open+Sans+Condensed:300,300i,700" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<%= stylesheet_link_tag :site %>
<%= partial "partials/nav" %>

<div class="container">

  <div class="card">
    <div class="card__photo">
      <a href="http://www.elizabeth-restaurant.com/" target="_blank"><img src="/images/work/Elizabeth.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"> <a href="http://www.elizabeth-restaurant.com/" target="_blank">Elizabeth Restaurant & Kitsune Restaurant</a></h3>
        <p class="card-section__description">A complete redesign for the restaurants of Chicago's magical surrealist chef Iliana Regan.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="http://www.thurkrestaurant.com/" target="_blank"><img src="/images/work/Thurk.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"> <a href="http://www.thurkrestaurant.com/" target="_blank">Thurk Restaurant</h3>
        <p class="card-section__description">A simple website for a new Chicago chef with a unique pop-up ticketing schedule.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card__photo">
      <a href="http://www.cathywalldesigns.com/" target="_blank"><img src="/images/work/Cathy.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="http://www.cathywalldesigns.com/" target="_blank">Cathy Wall Designs</a></h3>
        <p class="card-section__description">A photo-heavy portfolio website for a talented interior designer.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="http://www.kerrydumayoga.com/" target="_blank"><img src="/images/work/Kerry.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="http://www.kerrydumayoga.com/" target="_blank">Kerry Duma Yoga</a></h3>
        <p class="card-section__description">A website for a yoga teacher to communicate her schedule.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>


</div>