---
title: work
layout: layout
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
  <%= partial "partials/nav" %>
</div>

<div class="container">
<div class="module">

<h2 class="module__header center">Work Samples</h2>

  <div class="card">
    <div class="card__photo">
      <a href="https://wanderlust-travel.herokuapp.com/" target="_blank"><img src="/images/work/wanderlust.svg"></a>
    </div>
      <h3 class="card__title"> <a href="https://wanderlust-travel.herokuapp.com/" target="_blank">Wanderlust</a></h3>
  </div>

  <div class="card">
    <a href="http://www.elizabeth-restaurant.com/" target="_blank">
      <div class="card__photo">
        <img src="/images/work/cherry-blossom.svg">
      </div>
      <h3 class="card__title"><a href="http://www.elizabeth-restaurant.com.com/" target="_blank">Elizabeth</a> &amp; <a href="http://www.kitsunerestaurant.com/" target="_blank"> Kitsune Restaurants</a></h3>
    </a>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/trading-card/" target="_blank"><img src="/images/work/card.svg"></a>
    </div>
      <h3 class="card__title"><a href="https://epenzeymoog.github.io/trading-card/" target="_blank">Employee Trading Card Project</a></h3>
  </div>

  <div class="card">
    <div class="card__photo">
      <img src="/images/work/icons.svg">
    </div>
      <h3 class="card__title">Icons (coming soon)</h3>
  </div>

  <p class="center"><em>I'm not able to show the majority of my client work, but am always excited to talk about my experience designing and building a variety of online experiences.</em></p>

  </div>
</div>
<%= partial "partials/footer" %>

