---
title: work
layout: projects
---

<head>
<link type="image/ico" href="images/favicon.ico" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<%= stylesheet_link_tag :site %>
<div class="nav-wrapper">
  <%= partial "partials/nav" %>
</div>

<div class="container">

  <div class="card">
    <div class="card__photo">
      <a href="http://www.elizabeth-restaurant.com/" target="_blank"><img src="/images/work/Elizabeth.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"> <a href="http://www.elizabeth-restaurant.com/" target="_blank">Elizabeth & Kitsune Restaurants</a></h3>
        <p class="card-section__description">A complete redesign for the restaurants of Chicago's magical surrealist chef Iliana Regan.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="http://www.cathywalldesigns.com/" target="_blank"><img src="/images/work/Cathy.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="http://www.cathywalldesigns.com/" target="_blank">Cathy Wall Designs</a></h3>
        <p class="card-section__description">A photo-heavy portfolio website for a talented interior designer.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="http://www.kerrydumayoga.com/" target="_blank"><img src="/images/work/Kerry.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="http://www.kerrydumayoga.com/" target="_blank">Kerry Duma Yoga</a></h3>
        <p class="card-section__description">A website for a yoga teacher to communicate her schedule.</p>
        <p>Role:</p>
        <p>Visual design</p>
        <p>Custom CSS</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/travel/" target="_blank"><img src="/images/projects/wanderlust.png"></a>
    </div>
    <div class="card-section">

      <div class="card-section__content">

        <h3 class="card__title"> <a href="https://epenzeymoog.github.io/travel/" target="_blank">Wanderlust</a></h3>
        <p class="card-section__description">A mock travel website showing my skills in design &amp; implementation.</p>
        <p>Role:</p>
        <p>UX Design</p>
        <p>Visual design</p>
        <p>Front-end development</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/chisc/" target="_blank"><img src="/images/projects/chisc.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"> <a href="https://epenzeymoog.github.io/chisc/" target="_blank">Chicago Software Craftsmanship</h3>
        <p class="card-section__description">Taking a group for software enthusiasts from a simple MeetUp group to its own independent website.</p>
        <p>This project is still in progress.</p>
        <p>Role:</p>
        <p>UX Design</p>
        <p>Visual design</p>
        <p>Front-end development</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/trading-card/" target="_blank"><img src="/images/projects/card.jpg"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="https://epenzeymoog.github.io/trading-card/" target="_blank">Employee Trading Card Project</a></h3>
        <p class="card-section__description">Celebrating the people of 8th Light with custom employee trading cards.</p>
        <p>Role:</p>
        <p>Print design</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__photo">
      <a href="https://epenzeymoog.github.io/form/" target="_blank"><img src="/images/projects/forms.png"></a>
    </div>
    <div class="card-section">
      <div class="card-section__content">
        <h3 class="card__title"><a href="https://epenzeymoog.github.io/form/" target="_blank">Semantic HTML & Forms</a></h3>
        <p class="card-section__description">Project that displays understanding of semantic HTML and form elements.</p>
      </div>
    </div>
  </div>


</div>